/*body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}*/

body {
    background-color: white;
    font-family: "Helvetica Neue", sans-serif;
    text-align: center;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#shouldibuytext {
    color: white;
    font-size: 76px;
    font-weight: bold;
    text-align: center;
}

#shouldibuysubtext {
    color: white;
    font-size: 24px;
    text-align: center;
}

#mainpage {
    background-color: black;
    padding: 50px;
    opacity: 0.85;
}

#buttondiv {
    padding: 25px;
}

#dropdownbutton {
    margin: auto;
    margin: 25px;

}